html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
form,
label,
article,
aside,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
footer,
nav,
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}

section {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Merriweather", serif;
    font-size: 12px;
    line-height: 160%;
}

h2 {
    font-size: 3rem;
    padding: 1rem 0px;
}

h3 {
    font-size: 2rem;
    padding: 1rem 0px;
}

#nav {
    background-color: black;
    color: white;
}
#acasa {
    min-height: 800px;
}

/* ------------- TESTIMONIALE 📃 -------------- */

#testimoniale {
    background-color: rgb(245, 245, 245);
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimoniale h2 {
    margin-bottom: 2rem;
}

.t-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 4rem 0px;
    min-height: 30rem;
}

.t-card {
    position: relative;
    width: 30%;
    height: 80%;
    background-image: linear-gradient(to bottom, white, white, rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1rem;
    top: 10%;
    padding: 2rem;
    transition: left 200ms, scale 200ms;
}

.t-card.t-card-js {
    position: absolute;
}

.t-btn-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-image: linear-gradient(
        to right,
        rgb(245, 245, 245),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgb(245, 245, 245)
    );
}

.t-btn {
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0px;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.t-btn:hover {
    background-color: white;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.2);
}

.t-btn:focus {
    background-color: white;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.2);
    outline: 2px solid green;
}

@media (max-width: 900px) {
    .t-container {
        justify-content: center;
    }
    .t-card {
        width: 90%;
    }
}

#servicii {
    background-color: rgb(194, 194, 194);
}

#contact {
    background-color: white;
}
