:root {
    --yellow: #f9e7d6;
    --red: #f88867;
    --pink: #fbbcb2;
    --lightBlue: #e5f4fb;
    --blue: #cce5f0;
    --dark: #343434;
}

html {
    box-sizing: border-box;
    color: var(--dark);
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
form,
label,
article,
aside,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
footer,
nav,
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}

section {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Merriweather", serif;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    padding: 1rem 0px;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    padding: 1rem 0px;
}

h3 {
    font-size: 2rem;
    padding: 1rem 0px;
}

p {
    padding-bottom: 1rem;
}

#nav {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 0rem 10rem;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.8rem 1rem;
    transition: background-color 200ms, color 200ms;
}

#nav a:hover {
    background-color: white;
    color: black;
}

#nav a:first-child {
    margin-right: auto;
}

a {
    color: inherit;
    font: inherit;
}
.btn {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 100px;
    transition: scale 200ms;
    cursor: pointer;
    box-shadow: 0px 2px 15px 5px rgba(96, 156, 180, 0.2);
    text-decoration: none;
    font: inherit;
}

.btn:hover {
    scale: 1.1;
}

.btn:focus {
    outline: 2px solid green;
}

.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.btn:disabled:hover {
    scale: 1;
}

/* ------------- ACASA 📃 -------------- */

#acasa {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: white;
    overflow: hidden;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

.cloud-container {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    overflow: hidden;
}

.hero-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-container p {
    max-width: 600px;
    font-size: 1.1rem;
}

#clouds {
    width: 100%;
    height: 60%;
    background-image: url("/assets/clouds_bg.svg");
    background-size: auto 100%;
    position: absolute;
    background-repeat: repeat-x;
    background-position: 0% bottom;
    left: 0;
    bottom: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainbow-container {
    width: 60%;
    position: absolute;
    top: 20%;
    overflow: hidden;
    left: 20%;
    display: flex;
    justify-content: center;
}
.rainbow {
    width: 93%;
    max-width: 750px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red {
    background-image: linear-gradient(to bottom, rgb(255, 110, 110), var(--blue), var(--blue));
}

.green {
    background-image: linear-gradient(to bottom, rgb(145, 255, 145), var(--blue), var(--blue));
}

.purple {
    background-image: linear-gradient(to bottom, rgb(225, 149, 255), var(--blue), var(--blue));
}

.yellow {
    background-image: linear-gradient(to bottom, rgb(255, 255, 125), var(--blue), var(--blue));
}

.blue {
    background-image: linear-gradient(to bottom, rgb(146, 146, 255), var(--blue), var(--blue));
}

.orange {
    background-image: linear-gradient(to bottom, rgb(255, 201, 100), var(--blue), var(--blue));
}

.finish {
    background-color: var(--blue);
}

.social-media-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
}

.social-media-links a {
    text-decoration: none;
    color: inherit;
}
.social-media-links a:focus {
    outline: 2px solid green;
}

/* ------------- SERVICII 📃 -------------- */

@keyframes mvBg {
    50% {
        background-position: left top;
    }
}

#servicii {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 5rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url("/assets/clouds.svg"),
        linear-gradient(to bottom, white, var(--lightBlue), var(--blue), var(--blue));
    background-size: 160%;
    background-position: right top;
    animation: mvBg 60s infinite;
}

#servicii::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: var(--yellow);
    border-radius: 0% 90% 0% 0%;
    box-shadow: 0px -15px 35px 5px rgba(38, 60, 111, 0.1);
}

.services-desc {
    width: 50%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.services-card-container {
    width: 50%;
}

.service-card {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 15px 15px 35px 5px rgba(38, 60, 111, 0.2);
    margin-bottom: 2rem;
    background-color: white;
    border-top: 0px solid white;
    border-right: 8px solid var(--blue);
    border-bottom: 8px solid var(--blue);
    border-left: 0px solid white;
    transition: right 500ms, opacity 300ms;
    position: relative;
    opacity: 0;
    z-index: 20;
}

@media (max-width: 900px) {
    .services-desc {
        width: 100%;
    }
    .services-card-container {
        width: 100%;
    }

    .service-card {
        opacity: 1;
    }
}

/* ------------- TESTIMONIALE 📃 -------------- */

#testimoniale {
    background-color: var(--yellow);
    background-image: url("/assets/dots.svg");
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
}

#t-cont {
    overflow: hidden;
    padding-top: 2rem;
}

.t-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 4rem 0px;
    min-height: 42rem;
}

.t-card {
    position: relative;
    width: 30%;
    height: 80%;
    background-image: linear-gradient(to bottom, white, white, white, rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1rem;
    top: 10%;
    padding: 2rem;
    transition: left 200ms, scale 200ms;
}

.t-card::after {
    content: "";
    position: absolute;
    right: -10%;
    top: -5%;
    width: 25%;
    height: 15%;
    background-image: url("/assets/sunflower.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.t-card.t-card-js {
    position: absolute;
}

.t-btn-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-image: linear-gradient(
        to right,
        var(--yellow),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        var(--yellow)
    );
}

.t-btn {
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0px;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.t-btn:hover {
    background-color: white;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.2);
}

.t-btn:focus {
    background-color: white;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.2);
    outline: 2px solid green;
}

#contact {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    padding: 15rem 2rem;
    position: relative;
    background-image: url("/assets/stars.svg"),
        linear-gradient(to bottom, var(--yellow), var(--pink), rgb(249, 166, 153), rgb(171, 127, 192));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
}

#contact .container {
    z-index: 50;
}

#contact h2 {
    font-size: 2.5rem;
}

.contact-info {
    width: 50%;
    padding-right: 20%;
}

.contact-info a {
    color: inherit;
}

#contactForm {
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, white, white, transparent);
}

#contactForm label {
    width: 100%;
}

#contactForm label p {
    padding-bottom: 0px;
}

#contactForm label input[type="text"],
textarea {
    width: 100%;
}

.cCheckbox {
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;
    width: auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: none;
    outline: 1px solid #3e538c;
    width: 100%;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
}

.hills {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 25px 5px rgba(0, 50, 0, 0.2);
}

#hill1 {
    height: 25%;
    border-radius: 150% 0% 0% 0%;
    z-index: 47;
    background-color: #35497b;
}

#hill2 {
    height: 18%;
    border-radius: 0% 80% 0% 0%;
    z-index: 48;
    background-color: #253358;
}

#hill3 {
    height: 10%;
    border-radius: 50% 50% 0% 0%;
    z-index: 49;
    background-color: #172037;
}

.tree {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 150px solid #172037;
    position: absolute;
}

#hill3 .tree:nth-child(1) {
    right: 10%;
    bottom: 10%;
}

#hill3 .tree:nth-child(2) {
    right: 7%;
    bottom: 10%;
    scale: 1.3;
}

@media (max-width: 900px) {
    h2 {
        font-size: 1.8rem;
        padding: 1rem 0px;
    }

    h3 {
        font-size: 1.4rem;
        padding: 1rem 0px;
    }

    .t-container {
        justify-content: center;
    }
    .t-card {
        width: 90%;
    }

    #contactForm {
        width: 100%;
        background-color: white;
    }

    .contact-info {
        width: 100%;
    }

    #nav {
        padding: 0rem 1rem;
    }
}
