:root {
    --yellow: #f9e7d6;
    --red: #f88867;
    --pink: #fbbcb2;
    --lightBlue: #e5f4fb;
    --blue: #cce5f0;
    --dark: #343434;
}

html {
    box-sizing: border-box;
    color: var(--dark);
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
form,
label,
article,
aside,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
footer,
nav,
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}

section {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Merriweather", serif;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    padding: 1rem 0px;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    padding: 1rem 0px;
}

h3 {
    font-size: 2rem;
    padding: 1rem 0px;
}

p {
    padding-bottom: 1rem;
}

#nav {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 0rem 10rem;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.8rem 1rem;
    transition: background-color 200ms, color 200ms;
}

#nav a:hover {
    background-color: white;
    color: black;
}

#nav a:first-child {
    margin-right: auto;
}

.btn {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 100px;
    transition: scale 200ms;
    cursor: pointer;
    box-shadow: 0px 2px 15px 5px rgba(96, 156, 180, 0.2);
    text-decoration: none;
}

.btn:hover {
    scale: 1.1;
}

.btn:focus {
    outline: 2px solid green;
}

/* ------------- ACASA 📃 -------------- */

#acasa {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: white;
    overflow: hidden;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

.cloud-container {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    overflow: hidden;
}

.hero-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-container p {
    max-width: 600px;
    font-size: 1.1rem;
}

#clouds {
    width: 100%;
    height: 60%;
    background-image: url("/assets/clouds_bg.svg");
    background-size: auto 100%;
    position: absolute;
    background-repeat: repeat-x;
    background-position: 0% bottom;
    left: 0;
    bottom: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainbow-container {
    width: 60%;
    position: absolute;
    top: 20%;
    overflow: hidden;
    left: 20%;
    display: flex;
    justify-content: center;
}
.rainbow {
    width: 93%;
    max-width: 750px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red {
    background-image: linear-gradient(to bottom, rgb(255, 110, 110), var(--blue), var(--blue));
}

.green {
    background-image: linear-gradient(to bottom, rgb(145, 255, 145), var(--blue), var(--blue));
}

.purple {
    background-image: linear-gradient(to bottom, rgb(225, 149, 255), var(--blue), var(--blue));
}

.yellow {
    background-image: linear-gradient(to bottom, rgb(255, 255, 125), var(--blue), var(--blue));
}

.blue {
    background-image: linear-gradient(to bottom, rgb(146, 146, 255), var(--blue), var(--blue));
}

.orange {
    background-image: linear-gradient(to bottom, rgb(255, 201, 100), var(--blue), var(--blue));
}

.finish {
    background-color: var(--blue);
}

/* ------------- SERVICII 📃 -------------- */

@keyframes mvBg {
    50% {
        background-position: left top;
    }
}

#servicii {
    width: 100%;
    padding: 5rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url("/assets/clouds.svg"),
        linear-gradient(to bottom, white, var(--lightBlue), var(--blue), var(--blue));
    background-size: 160%;
    background-position: right top;
    animation: mvBg 60s infinite;
}

#servicii::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: var(--yellow);
    border-radius: 0% 90% 0% 0%;
    box-shadow: 0px -15px 35px 5px rgba(38, 60, 111, 0.1);
}

.services-desc {
    width: 50%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.services-card-container {
    width: 50%;
}

.service-card {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 15px 15px 35px 5px rgba(38, 60, 111, 0.2);
    margin-bottom: 2rem;
    background-color: white;
    border-top: 0px solid white;
    border-right: 8px solid var(--blue);
    border-bottom: 8px solid var(--blue);
    border-left: 0px solid white;
    transition: right 500ms, opacity 300ms;
    position: relative;
    opacity: 0;
    z-index: 20;
}

@media (max-width: 900px) {
    .services-desc {
        width: 100%;
    }
    .services-card-container {
        width: 100%;
    }

    .service-card {
        opacity: 1;
    }
}

/* ------------- TESTIMONIALE 📃 -------------- */

#testimoniale {
    background-color: var(--yellow);
    background-image: url("/assets/dots.svg");
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
}

#t-cont {
    overflow: hidden;
    padding-top: 2rem;
}

.t-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 4rem 0px;
    min-height: 42rem;
}

.t-card {
    position: relative;
    width: 30%;
    height: 80%;
    background-image: linear-gradient(to bottom, white, white, white, rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1rem;
    top: 10%;
    padding: 2rem;
    transition: left 200ms, scale 200ms;
}

.t-card::after {
    content: "";
    position: absolute;
    right: -10%;
    top: -5%;
    width: 25%;
    height: 15%;
    background-image: url("/assets/sunflower.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.t-card.t-card-js {
    position: absolute;
}

.t-btn-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-image: linear-gradient(
        to right,
        var(--yellow),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        var(--yellow)
    );
}

.t-btn {
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0px;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.t-btn:hover {
    background-color: white;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.2);
}

.t-btn:focus {
    background-color: white;
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.2);
    outline: 2px solid green;
}

#contact {
    background-color: white;
}

@media (max-width: 900px) {
    h2 {
        font-size: 1.8rem;
        padding: 1rem 0px;
    }

    h3 {
        font-size: 1.4rem;
        padding: 1rem 0px;
    }

    .t-container {
        justify-content: center;
    }
    .t-card {
        width: 90%;
    }
}
